.box-main {
  width: 100%;
  max-width: 800px;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
}

.MuiAppBar-root {
  background-color: #f48fb1 !important;
}

.MuiButton-colorPrimary {
  background-color: #f48fb1 !important;
}

label.Mui-focused {
  color: #f48fb1 !important;
}
.MuiInput-underline:after {
  border-bottom-color: #f48fb1 !important;
}
.MuiFilledInput-underline:after {
  border-bottom-color: #f48fb1 !important;
}
.MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #f48fb1 !important;
}

.MuiCardHeader-content {
  text-align: center !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
  color: #f48fb1 !important;
}
